@media screen and (max-width: $extraLargeScreen) {

    .projects-container {
        padding: 0 5%;
    }
}

@media screen and (max-width: $mediumScreen) {
    //HEADER
    nav {
        ul {
            display: none;
        }

        .burger {
            @include grid-center;
            top: 2.7em;
        }

        .burger-back {
            display: block;
        }
    }

    .skill-icons-container {
        width: 90%;
        margin: 0 auto;
    }
    
    .project {
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width: $smallScreen) {
    .hero-container {  
        min-height: 90vh;
        div {
            h1 {
                font-size: 8rem;
            }
        }
    }

    .about-container {
        flex-direction: column;

        .about-bio-container {
            width: 70%;
        }
    }
}

@media screen and (max-width: $extraSmallScreen) {
    header {
        margin: 1rem auto;
        padding: 0 2rem;

        .burger-back {
            top: 2.2%;
        }

        .burger {
            top: 2.2%;
        }
    }

    main {
        .hero-container h1 {
            font-size: 7rem;
        }

        .hero-container h2 {
            font-size: 3rem;
        }

        .about-container {
            .about-bio-container {
                padding: 5rem 0;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 391px) {
    header {
        padding: 0 2rem;

        .logo {
            font-size: 2.2rem;
        }

    }

    .hero-container div h1 {
        font-size: 7rem;
    }
}

@media screen and (max-width: 380px) {
    header {
        padding: 0 1rem;
        margin: 1rem auto;

        .burger-back {
            top: 2.2%;
        }
    }

    .hero-container div h1 {
        font-size: 5rem;
    }

    .hero-container div h2 {
        font-size: 3rem;
    }

    .about-container {

        .about-bio-container {
            padding: 1rem 0 !important; 

            p {
                text-align: center;
            }
        }
    }
}