@import '../abstracts/mixins';
@import '../abstracts/variables';

header {
    height: 5.7rem;
    max-width: $maxWidth;
    padding: 0 3%;
    margin: 2rem auto;
    @include flexbox-c-sb;

    ul {
        @include flexbox;
        align-items: center;
        li {
            @include flexbox;
            cursor: pointer;

            &:nth-child(1) {
                margin-right: 6rem;
            }

            &:nth-child(3) {
                margin-left: 6rem;
                margin-right: 6rem;
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked {
                        background-color: $secondaryCol;
                    }

                    &:focus {
                        box-shadow: 0 0 1px #2196F3;
                    }
                }

                input:checked + .slider:before {
                    transform: translateX(26px);
                  }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }
                }

                .round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }

            i {
                font-size: 2.5rem;
            }
        }

        #dark-mode-toggle {
            @include flexbox;
            flex-direction: column;
            align-items: center;

            p {
                font-size: 1.7rem;
            }
        }
    } 
    
    .burger-back { 
        display: none;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        height: 42px;
        width: 42px;
        transform: scale(1);
        position: absolute;
        top: 2.7em;
        right: 3%;
        background-color: $secondaryCol;
        box-shadow: $shadow;


    }

    .burger-back-active {
        transform: scale(100) !important;
    }

    .burger {
        position: absolute;
        top: 2.7em;
        right: 3%;
        height: 42px;
        width: 42px;
        display: none;
        cursor: pointer;
        padding: .8rem;
        border-radius: 50px;
        transition: $transition;
    
        div {
            background-color: white;
            height: 3px;
            width: 100%;
            transition: 0.4s ease-in-out;
        }

        .rotate-top {
            transform: rotate(45deg) translatey(10px);
        }

        .opaque {
            opacity: 0;
        }

        .rotate-bottom {
            transform: rotate(-45deg) translatey(-10px);
        }
    }
}