@import '../abstracts/mixins';

header {
    height: 5.7rem;
    padding: 0 5%;
    margin: 2rem 0;
    @include flexbox-c-sb;

    ul {
        @include flexbox;
        li {
            @include flexbox;

            &:nth-child(1) {
                padding-right: 6rem;
            }

            &:nth-child(3) {
                padding-left: 6rem;
            }
        }
    }
}