@import '../abstracts/mixins';
@import '../abstracts/variables';
header {
    height: 5.7rem;
    max-width: 1400px;
    padding: 0 4rem;
    margin: 2rem auto;
    @include flexbox-c-sb;

    ul {
        @include flexbox;
        // display: none;
        li {
            @include flexbox;

            &:nth-child(1) {
                padding-right: 6rem;
            }

            &:nth-child(3) {
                padding-left: 6rem;
            }
        }
    }
    
    .burger-back { 
        background-color: $secondaryCol;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        height: 42px;
        width: 42px;
        transform: scale(1);
        display: none;
        position: fixed;
        top: 2.2%;
        right: 2.2%;
    }

    .burger-back-active {
        transform: scale(100) !important;
    }

    .burger {
        position: fixed;
        top: 2.2%;
        right: 2.2%;
        height: 42px;
        width: 42px;
        display: none;
        cursor: pointer;
        padding: .8rem;
        border-radius: 50px;
    
        div {
            background-color: white;
            height: 3px;
            width: 100%;
            transition: 0.4s ease-in-out;
        }

        .rotate-top {
            transform: rotate(45deg) translatey(10px);
        }

        .opaque {
            opacity: 0;
        }

        .rotate-bottom {
            transform: rotate(-45deg) translatey(-10px);
        }
    }
}
