@import "../abstracts/variables";

.hero-container {
    height: calc(100vh - 5.7rem);
    max-height: 900px;
    @include flexbox-c-c;
    padding: 10%;

    h1 {
        margin-bottom: 3.5rem;
    }

    .social-logs-container {
        @include flexbox-c-c;
        margin-top: 3.5rem;

        .social-logs {
            height: 50px;
            width: 50px;
            // border: solid 1px red;

            &:nth-child(1){
                margin-right: 3rem;
            }

            &:nth-child(2){
                margin-left: 3rem;
            }
            
            i {
                font-size: 3.4rem;
                transition: $transition;
            }

            i:hover {
                color: $secondaryCol;
            }
        }  
    }   
}