@import "../abstracts/variables";

.hero-container {
    // border: solid 1px red;
    min-height: 700px;
    @include flexbox-c-c;

    h1 {
        margin-bottom: 3.5rem;
    }

    .social-logs-container {
        @include flexbox-c-c;
        margin-top: 3.5rem;

        .social-logs {
            height: 50px;
            width: 50px;
            // border: solid 1px red;

            &:nth-child(1){
                margin-right: 3rem;
            }

            &:nth-child(2){
                margin-left: 3rem;
            }
            
            i {
                font-size: 3.4rem;
                transition: 0.2s ease-in-out;
            }

            i:hover {
                color: $secondaryCol;
            }
        }  
    }   
}