.projects-container {
    // border: solid 1px red;
    min-height: 30vh;
    max-width: 1400px;
    margin: 5rem auto;
    padding: 2rem;
    overflow: auto;

    .projects-title-container {
        width: 40rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        text-align: center;
    }

    .boxes-container {
        // border: solid 1px red;
        min-width: 250%;
        @include flexbox-c-sa;

        .left {
            // transform: translateX(-100%);
        }

        .box {
            min-height: 40rem;
            height: 50rem;
            width: 100rem;
            padding: 2rem;
            // border: solid 1px red;
            box-shadow: 10px 11px 18px 4px #737373;
            transition: 0.3s ease-in-out;
            @include flexbox-c-sa;
            flex-direction: column;



            h2 {
                text-align: center;
                margin-bottom: 1rem;
            }

            .info {
                @include flexbox-c-c;
                margin: auto 0;
                div {
                    height: 300px;
                    min-width: 500px;
                    border: solid 1px red;
                    margin: 0 auto;
                    margin-right: 1.25rem;
                }
            }
        }
    }
}