//COLORS
$primaryCol: #FBFBFB;
$secondaryCol: #66B6FF;
$textCol: #242424;

//FONTS
$monts: 'Montserrat', sans-serif;  
$outfit: 'Outfit', sans-serif;  

//FONT WEIGHTS
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

//BREAKPOINTS 
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$extraLargeScreen: 1200px;