//COLORS - LIGHT MODE
$primaryCol: #FBFBFB;
$secondaryCol: #66B6FF;
$textCol: #262626;

//COLORS - DARK MODE
$darkPrimaryCol: #262626;
$darkModeElements: hsl(209, 23%, 22%);
$darkModeBackground: hsl(207, 26%, 17%);

//FONTS
$monts: 'Montserrat', sans-serif;  
$outfit: 'Outfit', sans-serif;  

//FONT WEIGHTS
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

//BREAKPOINTS 
$extraSmallScreen: 425px;
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$extraLargeScreen: 1200px;

//SHADOW
$shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);

//RADIUS
$borderRadius: 10px;

//MAX-WIDTH
$maxWidth: 1400px;

//TRANSITION
$transition: 0.3s ease-in-out;