@import '../abstracts/mixins';

header {
    height: 5.7rem;
    max-width: 1400px;
    padding: 0 4rem;
    margin: 2rem auto;
    @include flexbox-c-sb;

    ul {
        @include flexbox;
        li {
            @include flexbox;

            &:nth-child(1) {
                padding-right: 6rem;
            }

            &:nth-child(3) {
                padding-left: 6rem;
            }
        }
    }
}