//IMPORTS
@import "./src/scss/layouts/__layouts-dir";
@import "./src/scss/abstracts/__abstracts-dir.scss";
@import "./src/scss/base/__base-dir.scss";

//DEFAULT STYLES
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $textCol;
}


html {
    font-size: 62.5%;
 
    body {
        background-color: $primaryCol;
        margin: 0 auto;
        overflow-x: hidden;

    }
}

::selection {
    background: $secondaryCol;
}